<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body>
    
    <nav class="navbar navbar-expand-lg bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Museo gruppo 3</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Opere d'arte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Artisti</a>
                    </li>
                </ul>
                <!--implementare il tasto search-->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="bottoni mt-5" style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
    <div class="carta container mt-5">
        <div class="card mb-3">
            <img src="https://cdn.getyourguide.com/img/tour/e9a7e78242aaf419eef9a1324113166581aabfc1aaf2daa93ac5369491f0cd22.jpg/97.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Benvenuti nel nostro museo</h5>
              <p class="card-text">Benvenuti al Museo dell'Astrale Contemplazione Epistemologica, dove il tempo si dissolve in un etereo andirivieni di sinapsi curatoriali. Nelle sacre sale di questo tempio della conoscenza, la diacronica sinergia tra l'artefatto e l'ineffabile sussurra arcane verità di cosmica risonanza. Immergetevi in un vorticoso carosello di frammenti transculturali, ove l'entropia dialoga con la sintassi, e il paradosso si fa epifania.</p>
              <p class="card-text"><small class="text-body-secondary">Biglietti a partire da 20€</small></p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Visite guidate</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, ex nulla tempora animi debitis assumenda vel similique unde aperiam non, veritatis repellat sit quam, et quod doloribus accusantium quia neque?</p>
              <p class="card-text"><small class="text-body-secondary">A partire da 20€</small></p>
            </div>
            <img src="https://img.archiexpo.it/images_ae/photo-g/124837-8301597.jpg" class="card-img-bottom" alt="...">
          </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>